.header{
  display: none;
}
.slider-wrapper{
  width: 100%;
  background-color: #0CC0A4;
}
.slide{
  justify-content: center;
  padding: 30px 0;
}
.slide-img img{
  width: 100%;
}
.slide-img{
  padding-right: 50px;
}
.slide-title h2{
  font-size: 40px;
  color: rgb(255, 255, 255);
  line-height: 0.885;
  text-transform: uppercase;
}
.slide-title p{
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.647;
  padding: 20px 0;
}
.slider-button{
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  width: 120px;
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.slider-button-link{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 14px;
  padding-left: 14px;
}
.slider-button:hover{
  background-color: #fff;
}
.slider-button-link:hover{
  color:#000;
}
.slider-dot{
  text-align: center;
  padding-top:25px;
}
.slider-dot i{
  padding-right: 10px;
  color:#C0C0C0;
}
.slider-dot i:last-child{
  padding:0;
}
.slider-dot i:nth-child(2){
  color:#fff;
}
.slide-content-ad{
  display: none;
}
