@media screen and (max-width:1600px){
  .slide-content{
    display: none;
  }
  .slide-content-ad{
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width:1199px){
  .search-box:hover .search-txt{
    width: 100%;
  }
  .search-box{
    justify-content: center;
  }
  .navbar-brand-desktop{
    display: none;
  }
  .navbar-barnd-adaptive{
    display: flex;
  }
}
@media screen and (max-width:992px){
  .navbar-nav{
    display: none;
  }
  .social-icon{
    padding-top: 10px;
    font-size: 28px;
  }
  .footer-info{
    display: none;
  }
  .site-info-copyright{
    text-align: center;
  }
  .contact-ad{
    display: flex;
    justify-content: center;
  }
  .navbar-brand-desktop{
    font-size: 30px;
    padding-bottom: 10px;
    
    justify-content: center;
  }
  .header-content h1{
    font-size: 24px;
  }
  .header-content p{
    font-size: 18px;
  }
  .blog-img{
    float:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-title{
    text-align: center;
    padding: 10px 0;
  }
  .slider-wrapper{

  }
  .slide-title{
    padding-top: 20px;
    text-align: center;
  }
  .slider-button{
    width: auto;
  }
  .slider-button-adaptive{
    width: 50%;
    margin: auto;
    padding-top: 20px;
  }
  .slide-img{
    padding-right: 0;
  }
  .navbar-nav-adaptive{
    display: flex;
    justify-content: center;

  }
  .menu-hb-nav-link{
    padding-right: 10px;
  }
  .menu-hb-nav-link:last-child{
    padding-right: 0;
  }
}

@media screen and (max-width:768px){
  .search-wrapper{
    padding: 5px 0;
  }
  .navbar-barnd-adaptive{
    display: none;
  }
  .navbar-brand-desktop{
    display: flex;
  }
}
