/*--- cart ---*/
.carts-wrapper{
  width: 95%;
  margin: 0 auto;
}
.carts{
  justify-content: space-around;
  padding: 20px 0;
  background-color: #fff;
  flex-wrap: wrap;
}
.cart-box{
  align-items: center;
  padding-bottom: 30px;
}
.cart-button{
  opacity: 0;
}
.cart-price, .cart-title, .card-button{
  text-align: center;
}
.navbar-link:hover{
  color:#D97E00;
}
.cart-t-h{
  text-align: center;
  padding-bottom: 20px;
}
.catr-title{
  font-size: 26px;
}
.cart-img img{
  width: 100%;
}
.title-box{
  text-align: center;
}
.title-box h2 {
  font-size: 26px;
  font-weight: 800;
}
.title-box p{
  font-size: 18px;
  color:#808080;
}
