html{
  font-size: 16px;
}
body{
  font-size: 1em;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: normal;
  font-weight: normal;
  background-color: #fff;
}
/*--- navbar ---*/
.navbar{
  justify-content: space-between;
  line-height: 2.5rem;
  font-size: 1.25rem;
  padding: 0.8rem 0.8rem;
  background-color: #038C77;
}
.navbar-link{
  color: #fff;
}
.navbar-brand{
  color: #FFFFFF;
}
.navbar-nav{
  display: flex;
  justify-content: space-around;
}
.navbar-brand{
  font-size: 24px;
}
.navbar-items{
  text-align: center;
}
.navbar-nav-adaptive{
  display: none;
}
/*--- header ---*/
.header-content{
  justify-content: center;
  text-align: center;
  background-color: #00AA90;
  color: #fff;
}
.header-content h1{
  font-size: 42px;
  font-weight: 800;
  padding-top: 30px;

}
.header-content p{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.bt-hed{
  padding: 30px 0;
}
/*--- button ---*/
a.bt-cart{
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
a.bt-cart:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
a.bt-cart:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.card-button{
padding-bottom: 10px;
}
a.bt-header {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
a.bt-header:hover {
  background: rgb(53, 167, 110);
 }
a.bt-header:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.cart{
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: #F2F2F2;
  border-radius: 10px;
}
.cart:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in;
}

/*--- footer ---*/
.footer-content{
  background-color: #038C77;
  color:#333333;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.footer-content a{
  color:#fff;
}
.footer-item{
  padding-left: 35px;
}
.footer-info{
  padding: 10px 0;
  text-align: center;
}
.site-info-copyright{
  padding-left: 10px;
  font-size: 18px;
}
.copyright{
  display: flex;
  justify-content: space-between;
}
.social-icon{
  font-size: 20px;
  text-align: center;
}
.social-icon a{
  padding: 0 5px;
}
.social-icon a:last-child{
  padding: 0;
}
.soc-ic-fb:hover{
  color:#0000CD;
}
.soc-ic-insta:hover{
  color:#FF00FF;
}
.soc-ic-linkedin:hover{
  color:#1E90FF;
}
.soc-ic-ggplus:hover{
  color:#FF0000;
}
.footer-link{
  font-size: 16px;
}
.footer-link:hover{
  color:#D97E00;
}
.contact-ad{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  display: none;
}
.contact-ad-item-h2{
  font-size: 22px;
  font-weight: 600;
}
.contact-ad-item-p{
  font-size: 18px;
}
.footer-info span{
  font-size: 18px;
  font-weight: 600;
}
/*--- search ---*/
.search-box{
  display: flex;
  /*position: absolute;
  background-color:#D97E00;*/
  height: 20px;
  border-radius: 40px;
  padding: 10px;
}
.sersh-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.search-txt{
  border: none;
  outline: none;
  background: none;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.4s;
  /*line-height: 40px;*/
  width: 0;
}
.search-box:hover{
  background-color:#fff;
}
.search-box:hover .search-txt{
  width: 240px;
  padding:  0 6px;
  color:#333333;
}
.search-box:hover .sersh-btn{
  background-color: #D97E00;
  color:#000;
  background-color: #fff;
}
.search-box a{
  color:#fff;
}





.navbar-barnd-adaptive{
  display: none;
}
