.test_title{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 36px;
  text-transform: uppercase;
  color:#808080;
}
.link{
  text-align: center;
}
.link-back{
  font-size: 22px;
  color:#808080;
}
.wrapper{
  width: 80%;
  margin: 0 auto;
}
.box-grid{
  display: grid;
  grid-template-columns: repeat(4,20%);
  justify-content: center;
  row-gap: 10px;
  /* grid-auto-flow: column; */
}
.box{
  border: 3px solid #f89b24;
  text-align: center;
  height: 250px;
  width: 250px;
  background-color: #808080;
}
.box1{
  grid-row: 1/2;
  /* grid-column:2 ; */
}
